*~
*.aux
*.log
*.nav
*.out
*.toc
*.snm
slides.pdf
slides*.pdf
*.#
*#
*.synctex*
#*
*.vrb
*.listing
*.pyc
lectures.pdf
activities.pdf
*ipynb_checkpoints
*.html
*.doc*
*.fdb*
*.fls
main.pdf
.*doc*
.*ppt*
*.odt
env
# For Mac
.DS_Store


# for vscode
.vscode
.code-workspace